<h2>New Collection</h2>
<div>
  <span>Name:</span> <input [(ngModel)]="collectionName" />
  <div class="section-films" *ngIf="films">
    <h3>Films</h3>
    <mdc-list class="film-list">
      <mdc-list-item class="film-option"
        *ngFor="let film of films"
        (click)="toggleFilm(film.id)">
        <div class="film-info">
          <span>{{film.title}} ({{film.year}})</span>
        </div>
        <mdc-form-field>
          <mdc-checkbox [checked]="filmSelected(film.id)"></mdc-checkbox>
        </mdc-form-field>
      </mdc-list-item>
    </mdc-list>
  </div>
  <h3>Collection:</h3>
  <ul>
    <li><span>ID: </span>{{(!newCollection.id)? 'N/A' : newCollection.id}}</li>
    <li><span>Name: </span> {{collectionName}}</li>
    <li>
      <span>Films:</span>
      <ul>
        <li *ngFor="let film of getFilms()">
          {{film.title}} ({{film.year}})
        </li>
      </ul>
    </li>
  </ul>
  <button type="button"
    disabled="{{(enableSave()) ? '' : 'disabled'}}"
    (click)="saveCollection()"
  >Save Collection</button>
</div>
