<div class="new-collection-form">
  <h3>New Collection</h3>
  <mdc-text-field label="Name: " required="true" [(ngModel)]="collectionName"></mdc-text-field>
  <p mdc-text-field-helper-text validation="true">Collection name is required.</p>
  <div class="section-films" *ngIf="films">
    <label>Films</label>
    <div class="film-list">
      <mdc-list>
        <mdc-list-item class="film-option"
          *ngFor="let film of films"
          (click)="toggleFilm(film.id)">
          <div class="film-info">
            <span>{{film.title}} ({{film.year}})</span>
          </div>
          <mdc-form-field>
            <mdc-checkbox [checked]="filmSelected(film.id)"></mdc-checkbox>
          </mdc-form-field>
        </mdc-list-item>
      </mdc-list>
    </div>
  </div>
  <button mdc-button
    primary="true"
    disabled="{{(enableSave()) ? '' : 'disabled'}}"
    (click)="saveCollection()">
    Save Collection
  </button>
</div>
<div class="new-collection-preview">
  <h3>Collection Preview</h3>
  <mdc-text-field
    label="ID: "
    disabled="true"
    [(ngModel)]="collectionId">
  </mdc-text-field>
  <mdc-text-field
    label="Name: "
    disabled="true"
    [(ngModel)]="collectionName">
  </mdc-text-field>
  <div class="section-films">
    <label>Films:</label>
    <div class="film-list">
      <mdc-list class="collection-films">
        <mdc-list-item class="collection-film" *ngFor="let film of getFilms()">
          <div class="film-info">
            <span>{{film.title}} ({{film.year}})</span>
          </div>
        </mdc-list-item>
      </mdc-list>
    </div>
  </div>
</div>
